.aui_titleBar {
	position:relative;
}
.aui_title {
	height: 40px;
	line-height: 40px;
	font-size:16px;
	color: #fff;
	background: #0dc2b3;
	text-indent: 10px;
}
.aui_main{
	background: #fff;
}
.aui_content {
	min-width: 250px;
}
.aui_close {
	display: inline-block;
	position: absolute;
	right:0;
	top:0;
	height: 40px;
	width: 40px;
	text-align: center;
	color: #fff;
	text-indent: 9999px;
	background: #0dc2b3 url("../images/pop_close.png") no-repeat center;
	overflow: hidden;
}
.aui_close:hover {
	background-color: #f85f5f;
}
.aui_footer {
	width: 100%;
	background-color: #fff;
}
.aui_buttons {
	margin: 10px 0 20px;
	text-align: center;
}
.aui_buttons button {
	display: inline-block;
	width: 100px;
	height: 34px;
	line-height: 34px;
	border: 1px solid #0dc2b3;
	background: #0dc2b3;
	border-radius: 3px;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
	vertical-align: top;
	outline: none;
	margin: 0 15px;
}
.aui_buttons button:hover {
	border-color: #56dcd1;
	background: #56dcd1;
}


.aui_buttons button{
	color: #0dc2b3;
	background: #fff;
	line-height: normal;
}
.aui_buttons button:hover{
	color: #56dcd1;
	background: #fff;
}
.aui_buttons button.aui_state_highlight{
	color: #fff;
	background: #0dc2b3;
}
.aui_buttons button.aui_state_highlight:hover{
	background: #56dcd1;
}

/**css3 table end**/
table {
	*border-collapse: collapse; /* IE7 and lower */
	border-spacing: 0;
	width: 100%;
}

/*========bordered table========*/
.bordered {
	margin-bottom:2px;
	border: solid #ccc 1px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 1px #ccc;
	-moz-box-shadow: 0 1px 1px #ccc;
	box-shadow: 0 1px 1px #ccc;
}

/*.bordered thead{*/
/*display: block;*/
/*}*/

/*.bordered tbody{*/
/*table-layout: fixed;*/
/*word-break: break-all;*/
/*display: block;*/
/*height: 250px;*/
/*overflow-y: auto;*/
/*overflow-x: hidden;*/
/*}*/

.bordered tr {
	-o-transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.bordered .highlight, .bordered tr:hover {
	background: #fbf8e9;
}

.bordered td, .bordered th {
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	padding: 10px;
	text-align: left;
}

.bordered th {
	background-color: #dce9f9;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
	background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: linear-gradient(top, #ebf3fc, #dce9f9);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ebf3fc, endColorstr=#dce9f9);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#ebf3fc, endColorstr=#dce9f9)";
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
	border-top: none;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

.bordered td:first-child, .bordered th:first-child {
	border-left: none;
}

.bordered th:first-child {
	-moz-border-radius: 6px 0 0 0;
	-webkit-border-radius: 6px 0 0 0;
	border-radius: 6px 0 0 0;
}

.bordered th:last-child {
	-moz-border-radius: 0 6px 0 0;
	-webkit-border-radius: 0 6px 0 0;
	border-radius: 0 6px 0 0;
}

.bordered tr:last-child td:first-child {
	-moz-border-radius: 0 0 0 6px;
	-webkit-border-radius: 0 0 0 6px;
	border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
	-moz-border-radius: 0 0 6px 0;
	-webkit-border-radius: 0 0 6px 0;
	border-radius: 0 0 6px 0;
}

/*----------------------*/
.zebra td, .zebra th {
	padding: 10px;
	border-bottom: 1px solid #f2f2f2;
}

.zebra .alternate, .zebra tbody tr:nth-child(even) {
	background: #f5f5f5;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
}

.zebra th {
	text-align: left;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
	border-bottom: 1px solid #ccc;
	background-color: #eee;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#eee));
	background-image: -webkit-linear-gradient(top, #f5f5f5, #eee);
	background-image: -moz-linear-gradient(top, #f5f5f5, #eee);
	background-image: -ms-linear-gradient(top, #f5f5f5, #eee);
	background-image: -o-linear-gradient(top, #f5f5f5, #eee);
	background-image: linear-gradient(top, #f5f5f5, #eee);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f5f5f5, endColorstr=#eeeeee);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#f5f5f5, endColorstr=#eeeeee)";
}

.zebra th:first-child {
	-moz-border-radius: 6px 0 0 0;
	-webkit-border-radius: 6px 0 0 0;
	border-radius: 6px 0 0 0;
}

.zebra th:last-child {
	-moz-border-radius: 0 6px 0 0;
	-webkit-border-radius: 0 6px 0 0;
	border-radius: 0 6px 0 0;
}

.zebra tfoot td {
	border-bottom: 0;
	border-top: 1px solid #fff;
	background-color: #f1f1f1;
}

.zebra tfoot td:first-child {
	-moz-border-radius: 0 0 0 6px;
	-webkit-border-radius: 0 0 0 6px;
	border-radius: 0 0 0 6px;
}

.zebra tfoot td:last-child {
	-moz-border-radius: 0 0 6px 0;
	-webkit-border-radius: 0 0 6px 0;
	border-radius: 0 0 6px 0;
}

/**css3 table end**/

/*分页*/
/********************************************翻页 begin*********************************************/
.total-amount{
	height: 76px;
	line-height: 76px;
	margin-right: 20px;
	font-weight: bold;
}

.pagination {
	height: 24px;
	line-height: 1em;
	text-align: center;
	font-size: 12px;
	font-family: 'simsun';
	line-height: 22px;
	vertical-align: middle;
}

.pagination a {
	text-decoration: none;
	border: solid 1px #7499cb;
	color: #0455a1;
}

.pagination a:hover, .pagination a:active {
	text-decoration: none;
}

.pagination a, .pagination span {
	display: inline-block;
	padding: 0 7px;
	_padding-top: 3px;
	margin-right: 6px;
	text-align: center;
	vertical-align: middle;
}

.pagination .current {
	background-color: #fff;
	color: #0455a1;
	font-weight: bold;
	border: solid 1px #fff;
}

.pagination .current.prev, .pagination .current.next {
	color: #999;
	font-weight: normal;
}

.pagination .goto {
	display: inline-block;
	margin: 0 0 0 8px;
	padding: 1px 0;
	*display: inline;
	*zoom: 1;
}

.pagination .goto input {
	padding: 0 3px;
	width: 24px;
	height: 18px;
	border: 1px solid #0455a1;
	vertical-align: middle;
}

.pagination .goto button {
	margin: 0 0 0 4px;
	padding: 0 8px;
	height: 20px;
	background: #0455a1;
	color: #fff;
	line-height: 20px;
	vertical-align: middle;
}

.pagination {
	margin: 26px 0;
	text-align: right;
	margin-right: 10px;
	font-family: Microsoft Yahei;
	color: #717171;
}

.page-btn {
	width: 45px;
	margin-left: 8px;
}

.pagination a {
	color: #717171;
	border: 1px solid #dcdcdc;
}

.pagination .current {
	color: #0fc4b5;
	border: 1px solid #0fc4b5;
}

.page-num {
	margin: 0 5px;
	padding: 3px 0 5px 0px;
	padding: 3px 0 8px 0 \0/;
	width: 51px;
	border: 1px solid #0fc4b5;
	color: #717171;
	height: 12px;
}

/**************************************************************翻页 end*******************************/
.btn {
	font-size: 12px;
	display: inline-block;
	padding-right: 10px;
	height: 26px;
	line-height: 26px;
	border-radius: 3px;
	cursor: pointer;
}

.btn-blue {
	background: #0dc2b3;
	color: #fff;
	width: 60px;
	text-align: center;
}

.btn-orange {
	background: #c25413;
	color: #fff;
}

.delete-btn{
	background: rgba(129, 129, 129, 0.53) url(../images/delete.png) 8px 5px no-repeat;
	color: #fff;
	background-size: 18px 18px;
	padding-left: 32px;
}
.update-btn{
	background: #0dc2b3 url(../images/update.png) 6px 3px no-repeat;
	color: #fff;
	background-size: 18px 18px;
	padding-left: 28px;
}