<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="  
    http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd  
    http://www.springframework.org/schema/context  
    http://www.springframework.org/schema/context/spring-context-3.2.xsd  
    http://www.springframework.org/schema/mvc  
    http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd 
     http://www.springframework.org/schema/tx 
    http://www.springframework.org/schema/tx/spring-tx-3.2.xsd 
     http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-3.2.xsd  
    ">

    <bean id="mainDataSourceOpmsystem" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <!-- 数据库驱动，我这里使用的是Mysql数据库 -->
        <property name="driverClassName">
            <value>com.mysql.jdbc.Driver</value>
        </property>
        <!-- 数据库地址，这里也要注意一下编码 -->
        <property name="url">
            <value>jdbc:mysql://localhost:3306/sina</value>
        </property>
        <!-- 数据库的用户名 -->
        <property name="username">
            <value>root</value>
        </property>
        <!-- 数据库的密码 -->
        <property name="password">
            <value>123456</value>
        </property>

        <property name="maxActive">
            <value>3000</value>
        </property>

        <property name="maxIdle">
            <value>150</value>
        </property>

        <property name="minIdle">
            <value>10</value>
        </property>

        <property name="initialSize">
            <value>50</value>
        </property>

        <property name="validationQuery">
            <value>SELECT 1</value>
        </property>

        <property name="testWhileIdle">
            <value>true</value>
        </property>
   <!--      <property name="timeBetweenEvictionRunsMillis">
            <value>${jdbc.timeBetweenEvictionRunsMillis.opmsystem}</value>
        </property>

        <property  name="minEvictableIdleTimeMillis">
            <value>${jdbc.minEvictableIdleTimeMillis.opmsystem}</value>
        </property> -->
    </bean>
    <bean id="dataSourceOpmsystem" class="org.springframework.jdbc.datasource.LazyConnectionDataSourceProxy">
        <property name="targetDataSource">
            <ref local="mainDataSourceOpmsystem" />
        </property>
    </bean>
    <bean id="transactionManagerOpmsystem"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSourceOpmsystem" />
    </bean>
    <tx:annotation-driven transaction-manager="transactionManagerOpmsystem" />
</beans>